html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: silver;
}

#panels {
    display: flex;
    /* border: 1px solid black; */
    min-height: 100vh;
}

.p1 {background-image:url(/img/1.jpg); background-size: cover; background-position-y: bottom;}
.p2 {background-image: url(/img/2.jpg); background-size: cover;}
.p3 {background-image: url(/img/3.jpg); background-size: cover;}
.p4 {background-image: url(/img/4.jpg); background-size: cover;}
.p5 {background-image: url(/img/5.jpg); background-size: cover;}
.p6 {background-image: url(/img/6.jpg); background-size: cover; background-position-y: center;}
  

.panel {
    font-size: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    transition: all 0.5s;
    background-position: center;
    scale: 0.9;
    /* border: 10px solid black; */
}

.grow {
    flex-grow: 3.5;
    scale: 1;
}
